body {
    background: linear-gradient(to left, green, #32c974);
    min-height: 100vh;
    width: 100%;
}

img {
    border: 3px solid black;
    width: 400px;
    height: 400px;
}

li {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    background: black;
    color: white;
}

ul {
    border: 3px solid black;
    background: lightgoldenrodyellow;
    color: black;
    height: 400px;
    width: 400px;
    text-align: left;
}

.disclaimer {
    color: white;
    font-weight: bold;
    text-align: center;
    background: black;
   justify-content: flex-end;
   font-size: 50px;


}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}